.dateTime__container {
  width: 550px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--light-bgc);
  border-radius: 18px;
  box-shadow: var(--drop-shadow);

  .dateTime__timeZone {
    width: 280px;
    height: 41px;
    padding-left: 10px;
    border-radius: 18px;
    border: 1px solid var(--midGrayColor);

    option {
      color: var(--dark-txt);
    }

    &::placeholder {
      font-family: var(--default-font);
      color: var(--midGrayColor);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
    }

    &:focus {
      outline-style: none;
      border: 1px solid var(--blueColor);
    }
  }

  .dateTime__showDate {
    margin-top: 16px;
    color: var(--darkGrayColor);
    font-size: 14px;

    span {
      font-weight: 600;
    }
  }
}
