.dateTime__timeZone {
  width: 280px;
  height: 41px;
  padding-left: 10px;
  border-radius: 18px;
  border: 1px solid var(--midGrayColor);

  option {
    color: var(--dark-txt);
  }

  &::placeholder {
    font-family: var(--default-font);
    color: var(--midGrayColor);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  &:focus {
    outline-style: none;
    border: 1px solid var(--blueColor);
  }
}
